/* in page headers */
h1 {
  font-weight: bold;
}

/* artist thumbnails */
.artist {
  padding: 0;
}

.artist > img {
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.artist > div {
  padding-top: 15px;
}

p {
  margin-bottom: 15px;
}

#artist-grid .panel {
  border: 0;
  /* internal link offset */
  background: transparent;
  margin-top: -50px;
  padding-top: 55px;
}

#artist-grid .panel-heading {
  background: #000;
}

.panel-heading h2 {
  font-size: 30px;
}

.panel-heading h3 {
  font-size: 24px;
}

#artist-grid .panel-title {
  font-family: 'Amatic SC';
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

#artist-grid h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

#klubbprogram {
  margin-top: -55px;
  padding: 55px 0 0 0;
  margin-bottom: -5px;
}

#klubb-inner {
  background: #44a97c;
  text-align: center;
}

#klubbprogram h2 {
  margin-top: 10px;
  color: #fff;
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 40px;
}

/* artist meta */

#meta {
  position: absolute;
  right: 0px;
  top: -40px;
  padding: 6px;
  border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  background-color: rgba(248,245,238,0.8);
}

#meta li 		{
  display: block;
  float: left;
  margin-left: 4px;
}

#meta a 		{
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  background-size: 100% auto;
}

#meta .facebook a { background-image: url(img/btn-facebook-aqua-100-scroll.png); }
#meta .myspace a { background-image: url(img/btn-myspace-grey.png); }
#meta .spotify a { background-image: url(img/btn-spotify-aqua-100-scroll.png); }
#meta .web a 	{ background-image: url(img/btn-website-aqua-100-scroll.png); }
#meta .soundcloud a 	{ background-image: url(img/btn-soundcloud-aqua-100-scroll.png); }

#meta .web a:hover, #meta .facebook a:hover, #meta .soundcloud a:hover, #meta .spotify a:hover { background-position: 0px -30px; }

.clear 			{ clear: both; }


/* news byline */
.byline, #nyheter .byline {
  display: none;
}

.posted-on {
  font-size: 10px;
}

/* FAQ panels */
.faq-title {
  vertical-align: middle;
}

.faq-title:hover, .faq-title:active {
  text-decoration: none;
}

.faq-title .glyphicon-minus-sign {
  display: none;
}

.faq-title[aria-expanded="true"] .glyphicon-plus-sign {
  display: none;
}

.faq-title[aria-expanded="true"] .glyphicon-minus-sign {
  display: inherit;
}

/* Scrollspy */
body.home {
  position: relative;
}

/* Navigation */
.navbar-brand {
  width: 45px;
  text-indent: -9999px;
  background: url(img/duck-sprite.png) no-repeat center 8px;
}

.navbar-brand:hover {
  //background-position-y: -92px;
}

.nav li a {
  font-weight: bold;
  font-family: 'Amatic SC';
  font-size: 28px;
}

/* Center navbar in container */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .container {
  text-align: center;
}

.home article:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

/* Wavy background */
body {
  background-image: url(img/popa15bg_top.jpg), url(img/popa15bg_inf_off.jpg);
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, repeat-y;
  padding-top: 50px;
}

/* Header */
.jumbotron {
  background-color: transparent;
  text-align: center;
  margin-bottom: 0;
}

/* Lineup */

.lineup {
  margin-bottom: 40px
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid #333;
}

footer img {
  width: 12%;
  min-width: 90px;
  margin: 0 3%;
}

/* Narrower container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .jumbotron {
      padding: 48px 0 30px 0;
  }
}

.main-logo {
  width: 100%;
}

/* menu items */
.menu-item-type-custom a, .menu-item-type-custom a:hover {
  color: #333 !important;
  background-color: #7abede !important;//rgb(192, 222, 249);
}
.nav>li>a {
  padding-left: 10px;
  padding-right: 10px;
}

/* social media links */
.social {
    margin: auto;
    padding: 5px 0;
    text-align: center;
    /*width: 290px;*/

}

.social ul {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
	/*width: 290px;*/
	margin: auto;
}

.social li {
	display: inline-block;
	text-align: center;
}

.social li a {
  background-repeat: no-repeat;
	background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
  margin-right: 4px;
  float: left;
 }

.social li:last-child a {
  margin-right: 0;
}

.social .twitter {
  background-image: url(img/btn-twitter-aqua-100-scroll.png);
}

.social .facebook {
    background-image: url(img/btn-facebook-aqua-100-scroll.png);
}

.social .instagram {
    background-image: url(img/btn-insta-aqua-100-scroll.png);
}

.social .spotify {
    background-image: url(img/btn-spotify-aqua-100-scroll.png);
}

.social li a:hover {
	background-position-y: -35px;
}

.hentry>div {
  background-color: rgba(255,255,255, 0.65);
}

/* biljettbubbla */
#biljettbubbla {
  position: absolute;
  margin-left: 13%;
  margin-top: -7%;
  width: 20%;
  z-index: 1337;
}

@media (min-width: 768px) {
  #biljettbubbla {
    max-width: 128px;
    margin-left: 83px;
    margin-top: -45px;
    z-index: 1;
  }
}

/* scenbubbla (klubb) */
.artist .stage {
  position: absolute;
  bottom: 5px;
  right: 5px;
  pointer-events: none;
  border-radius: 1em;
}

.artist.col-xs-12 .stage {
  top: 478px;
  bottom: auto;
  left: auto;
}

/* speldagar */
.artist .day {
  position: absolute;
  top: 102px;
  left: 5px;
  padding: 0;
  pointer-events: none;
}

.artist .day-inner {
  text-transform: capitalize;
  font-family: 'Amatic SC';
  font-size: 28px;
  font-weight: bold;
  line-height: 30px;
  padding: 0.1em 0.5em;
  background: #606060;
  color: #fff;
  display: inline-block;
}

.artist .day-inner .abbr {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
}

.artist .day-fredag {
  background-color: #ff9010;
}

.artist .day-lordag {
  background-color: #1090ff;
}

.col-xs-12 .day-inner {
  border-radius: 1em;
  left: 16px;
}

.col-xs-12 .abbr, .col-xs-6 .full {
  display: none;
}

.abbr {
  font-weight: bold;
}

@media (min-width: 768px) {
  .artist .day-inner {
    font-size: 28px;
  }
}


/* spelschema */
.schedule-artist {
  font-size: 26px;
  margin-left: 0.5em;
}

.schedule-slot {
  background-color: #000;
  color: #000;
  font-family: 'Amatic SC';
  font-weight: bold;
  padding: 0 10px;
  font-size: 22px;
  margin: 0 5px;
}

@media (max-width: 767px) {
  .schedule-slot {
    margin-top: 5px !important;
  }
}
#artist-grid .schedule h3 {
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 40px;
}

// news navigation
#more_posts {
  font-size: 24px;
  font-family: 'Amatic SC';
  text-transform: uppercase;
  font-weight: bold;
}

#more_posts .prev, #more_posts .next {
  padding: 4px 8px;
}

#more_posts a:hover {
  text-decoration: none;
}

#more_posts .next {
  float: right;
}

#more_posts .prev {
  float: left;
}

// hide some webkit focus defaults
a:focus {
  text-decoration: none;
}

article:focus {
  outline: none;
}
