/* artist thumbnails */
.artist {
  padding: 0;
}

.artist img {
  width: 100%;
}

/* Scrollspy */
body.home {
  position: relative;
}

/* Navigation */
.navbar-brand {
  width: 45px;
  text-indent: -9999px;
  background: url(img/duck-sprite.png) no-repeat center 8px;
}

.navbar-brand:hover {
  //background-position-y: -92px;
}

.home article:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

/* Wavy background */
body {
  background-image: url(img/popa15bg_top.jpg), url(img/popa15bg_inf_off.jpg);
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, repeat-y;
}

/* Header */
.jumbotron {
  background-color: transparent;
  text-align: center;
  margin-bottom: 0;
}

.jumbotron .btn {
  margin-top: 20px;
  border-width: 2px;
  border-color: #333333;
  font-size: 22px;
}

/* News item */
.textbox {
  padding: 20px;
  background-color: rgba(255,255,255,0.9);
  margin-bottom: 20px;
}

.textbox h2 {
  margin-top: 0;
}


/* People */
.visitors {
  text-align: justify;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 30px;
}

/* Lineup */

.lineup {
  margin-bottom: 40px
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid #333;
}

footer img {
  width: 14%;
  min-width: 94px;
  margin: 0 3%;
}

/* Narrower container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .jumbotron {
      padding: 48px 0 30px 0;
  }
}

.main-logo {
  width: 100%;
}

/* social media links */
.social {
    margin: auto;
    padding: 5px 0;
    text-align: center;
    /*width: 290px;*/

}

.social ul {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
	/*width: 290px;*/
	margin: auto;
}

.social li {
	display: inline-block;
	text-align: center;
}

.social li a {
  background-repeat: no-repeat;
	background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
  margin-right: 4px;
  float: left;
 }

.social li:last-child a {
  margin-right: 0;
}

.social .twitter {
  background-image: url(img/btn-twitter-aqua-100-scroll.png);
}

.social .facebook {
    background-image: url(img/btn-facebook-aqua-100-scroll.png);
}

.social .instagram {
    background-image: url(img/btn-insta-aqua-100-scroll.png);
}

.social .spotify {
    background-image: url(img/btn-spotify-aqua-100-scroll.png);
}

.social li a:hover {
	background-position-y: -35px;
}

.hentry {
  background-color: rgba(255,255,255, 0.65);
}
